<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./../css/default.css"/>
        <h:outputStylesheet name="./../css/cssLayout.css"/>
        <h:outputStylesheet library="css" name="estilos.css"/>
        <title>CineWebApp</title>
    </h:head>

    <h:body>

        <div id="top" class="top">
            <h:form >
                <h:panelGrid columns = "2"> 
                    <p:outputLabel style="font-style: italic" value="AL15022-Argueta Lara, Edwin Arnoldo"/><br/>
                    <p:outputLabel style="font-style: italic" value="CS15023-Cuevas Saggeth, Julia Marcela"/><br/>
                    <p:outputLabel style="font-style:italic" value="HR16009-Hernández Ramírez , Sonia Yamileth"/><br/>
                    <p:outputLabel style="font-style:italic" value="MM17017-Meda Margueiz, Christian Eduardo"/><br/>
                </h:panelGrid> 

            </h:form>
            <p:separator/>
            <ui:insert name="top">Top</ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>

    </h:body>

</html>
